:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;

  --main-color: #212121;
  --secondary-color: #757575;
  --dark-background-color: #2f303a;

  --brand-color: #2196f3;
}

/* ========== */

body {
  margin: 0 auto;
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

:link {
  color: var(--brand-color);
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}
section {
  padding: 94px 0 94px 0;
}

.list {
  list-style: none;
}

.container {
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;

  justify-content: inherit;
}

.container-content {
  justify-content: space-between;
}

.btn {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-modal {
  width: 200px;
  height: 50px;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-modal:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-heading {
  margin-bottom: 30px;
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.secondary-heading {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.667;
  letter-spacing: 0.03em;
  text-align: center;
}

.third-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: left;
}

/* =========== */

/* ---HEADER-- */
.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 79px;
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
}

.logo-accent {
  color: var(--brand-color);
}

.logo-link,
.logo-link:hover,
.logo-link:visited,
.logo-link:active {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

.menu {
  margin-left: 93px;
}

.menu-nav {
  display: flex;
}

.menu-nav-link,
.contact-nav-link,
.contact-nav-link-mail,
.contact-nav-link-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}

.menu-nav-link {
  color: var(--main-color);
}

.contact-nav {
  display: flex;
  margin-left: 364px;
}

.contact-nav-link-tel {
  margin-left: 50px;
}

.contact-nav-link-tel,
.contact-nav-link-mail {
  color: var(--secondary-color);
}

.menu-nav-link {
  padding-right: 46px;
}

a[href="#kontakt.html"] {
  padding-right: 0;
}

.menu-nav-link:hover,
.menu-nav-link:active,
.menu-nav-link:focus,
.contact-nav-link:hover,
.contact-nav-link:active,
.contact-nav-link:focus,
.contact-nav-link-mail:hover,
.contact-nav-link-mail:active,
.contact-nav-link-mail:focus,
.contact-nav-link-tel:hover,
.contact-nav-link-tel:active,
.contact-nav-link-tel:focus {
  color: var(--brand-color);
  cursor: pointer;
}

/* ---END HEADER-- */

/* ---HERO--- */
.hero {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1600px;
  height: 600px;
  background-color: var(--dark-background-color);
}
/* ---END HERO--- */

/* ---OUR STRENGHTS */

.our-strenghts {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.our-strenghts-list {
  display: flex;
  height: 101px;
}

.our-strenghts-list-text {
  width: 270px;
  margin: 10px 30px 0 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-color);
}

/* ---END OUR STRENGHTS */

/* ---WHAT WE DO--- */
.what-we-do {
  display: flex;
  justify-content: center;
}

.what-we-do-list {
  display: flex;
}
.what-we-do-list-item {
  margin-right: 30px;
}

/* ---END WHAT WE DO--- */

/* ---OUR TEAM--- */
.our-team {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  display: flex;
  align-content: center;
}

.our-team-member {
  margin-right: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-list {
  display: flex;
}

.our-team-member-name {
  margin: 30px 0 10px 0;
}

.our-team-member-name,
.our-team-member-job {
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team-member-job {
  margin-bottom: 30px;
  font-weight: 400;
  color: var(--secondary-color);
}

/* ---END OUR TEAM--- */

/* ---FOOTER--- */
.footer-box {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-background-color);
}

.footer-style {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

.footer-logo-accent,
.footer-logo-accent:hover {
  color: var(--brand-color);
}

.footer-logo-link,
.footer-logo-link:visited,
.footer-logo-link:active {
  margin: 60px 0 20px 0;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.footer-adress {
  margin-bottom: 60px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.footer-adress-tel,
.footer-adress-mail a,
.footer-adress-tel a {
  text-decoration: none;
}

.footer-adress-mail a:active,
.footer-adress-mail a:hover,
.footer-adress-mail a:focus,
.footer-adress-tel a:active,
.footer-adress-tel a:hover,
.footer-adress-tel a:focus {
  color: var(--brand-color);
  cursor: pointer;
}

.footer-adress-mail a,
.footer-adress-mail a:visited,
.footer-adress-tel a,
.footer-adress-tel a:visited {
  color: rgba(255, 255, 255, 0.6);
}

/* ---END FOOTER--- */

/* PORTFOLIO PAGE */

.portfolio {
  display: flex;
  justify-content: center;
}
/* ---PROJECT FILTERS--- */
.projects-filters {
  margin-bottom: 50px;
}

.projects-filters-list {
  display: flex;
}

.projects-filter-list-btn {
  margin-right: 8px;
}

/* ---END PROJECT FILTERS--- */

/* ---PROJECT LIST--- */
.projects-list {
  justify-content: center;
}

.projcts-list-item {
}

.project-box {
  margin-bottom: 30px;
}

.project-description {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  line-height: 1.875;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}

/* ---END PROJECT LIST--- */
